@use "sass:map";
@use '../../utils/styles/space.module.scss' as space;
@use '../../utils/styles/colors.module.scss' as colors;
@use '../../utils/styles/mixins.module.scss' as mixins;

.container {
  @include mixins.container;
}

.row {
  display: flex;
  gap: map.get(space.$gap, 'small')
}

.header {
  display: flex;
  justify-content: space-between;
}