@use "sass:map";
@use '../../utils/styles/spacing.module.scss' as spacing;
@use '../../utils/styles/colors.module.scss' as colors;
@use '../../utils/styles/mixins.module.scss' as mixins;

.container {
  @include mixins.container;
  display: grid;
  gap: 25px;
}

.row {
  display: flex;
  gap: map.get(spacing.$gap, 'small')
}

.header {
  display: flex;
  justify-content: space-between;
}