@use "sass:map";
@use '../../utils/styles/spacing.module.scss' as spacing;
@use '../../utils/styles/borders.module.scss' as borders;
@use '../../utils/styles/texts.module.scss' as texts;

.nav {
  display: flex;
  gap: 10px;
}

.item {
  color: map.get(texts.$colors, 'accent');
  font-weight: bold;
  border-bottom: 1px solid map.get(borders.$colors, '');
}
