@use "sass:map";
@use '../../utils/styles/space.module.scss' as space;

.container {
  display: flex;
  gap: map.get(space.$gap, 'small')
}

.button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}

.cancel-button {
  color: red;
}