@use "sass:map";
@use '../../utils/styles/spacing.module.scss' as spacing;
@use '../../utils/styles/backgrounds.module.scss' as backgrounds;
@use '../../utils/styles/texts.module.scss' as texts;

@mixin base {
  padding: map.get(spacing.$padding, 'formElements');
  border-radius: 3px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .03em;
}

.button {
  @include base;
  background: map.get(backgrounds.$colors, 'accent');
  &:hover {
    cursor: pointer;
  }
}

.cancel-button {
  @include base;
  background-color: map.get(backgrounds.$state, 'error');
  color: map.get(texts.$colors, 'secondary')
}