$colors: (
  rich-black: #0D1821,
  indigo-dye: #344966,
  lavender-pink: #E6AACE,
  baby-powder: #F0F4EF,
  sage: #BFCC94,

  burnt-sienna: #DD6E42,
  blood-orange: #4d030e,
  dutch-white: #E8DAB2,
  payne-gray: #4F6D7A,
  columbia-blue: #C0D6DF,
  platinum: #EAEAEA,
  panic-red: #b62010,
);